html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
	border: solid;
	text-align: center;
}
.red {
	background-color: red;
	height: 25px;
  	width: 1400px;
}
.white	{
	background-color: white;
	height: 25px;
  	width: 1400px;
}
.starbox {
	height: 175px;
	width: 600px;
	padding: 5px;
	background-color: blue;
	position: absolute;
	top: 65px;
}



