html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.column > .row {
	margin-left: -10px;
	margin-right: -10px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    }
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding left: 10px;
    padding-right: 10px;
    width: 100%;
}
.column.one {
	width: 100%;
}
.column.one-third {
    width: 33.33%;
}
.column.one-half {
    width: 50%;
}    
.column.one-fourth{
	width: 25%;
}
.column.three-fourth {
	width:75%;
}
.column.one-sixth{
	width: 16%;
}
.column.one-eighth{
	width: 12%;
}